*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.app-container {
  display: flex;
  height: 100vh;
}

.main-content {
  flex: 1;
  padding: 20px;
  background-color:#FEFEFE;
  color: black;
  display: flex;
  flex-direction: column;
}
